/* Lists of stories */

.stories-list {
    margin: 20px 5px;
  }
  
  .stories-list > li {
    color: gray;
    font-size: 0.8rem;
    margin: 10px 0;
  }
  
  #stories-loading-msg {
    font-weight: bold;
    font-size: 150%;
    margin: 20px 30px;
  }

  #no-favorites-msg, #no-user-stories-msg {
    font-weight: bold;
    font-size: 100%;
    margin: 40px 0px 40px 20px;
  }
  
  
  /* Individual stories */
  
  .story-link {
    color: black;
    font-size: 0.85rem;
    font-weight: normal;
    margin: 18px 0;
  }
  
  .story-link:hover {
    text-decoration: none;
  }
  
  .story-author {
    margin: 0.5em 0em 0.5em 2em;
    display: block;
    color: rgb(29, 150, 29);
  }
  
  .story-user {
    margin: 0.5em 0em 0.5em 2em;
    display: block;
    color: gold;
  }

  .star, .trash {
    cursor: pointer;
  }

  .trash:hover {
    color: red;
  }
  