/* Login and signup forms */

.account-form button {
    width: 4rem;
    margin-left: 80px;
  }
  
  #signup-form button {
    width: 8rem;
  }
  
  .account-forms-container {
    padding-left: 20px;
  }
  
  #signup-form i {
    margin-left: -30px;
    cursor: pointer;
  }
  #login-form i {
    margin-left: -30px;
    cursor: pointer;
  }

  #user-name {
    text-align: center;
  }

  #update-user-form i {
    margin-left: -30px;
    cursor: pointer;
  }